body{
	background-color:#e0eff9;
	text-align:center;
	margin:0 auto;
}
h1{
	text-shadow: #555 2px 2px 3px;
}

#usuario{
	border-radius: 4px
}
#contrasena{
	border-radius: 4px
}
#btnEntrar{
	border-radius: 4px
}