body{
	background-color:#e0eff9;
	text-align:center;
	margin:0 auto;
     padding-left:3px;
     padding-right:3px;
     font-family: arial;

}

#lstAlumnos {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:white;
    color: black;


}
h1{
	text-shadow: #555 2px 2px 3px;
}
#lstAlumnos th {
    text-align: center;
}
#lstAlumnos tr:nth-child(even){background-color: #c1bfea;}

#lstAlumnos tr:hover {background-color: #49a5bf;}

#lstAlumnos{
	border: 1px solid black;
}
th, td {
    text-align: left;
    padding: 8px;
}

#btnPDF{
    margin-top: 10px;
    border-radius: 4px;
    height: 30px;
}